*.o
*.lo
*.la
src/morla
*.gmo
*.swp
.deps
Makefile
Makefile.in
POTFILES
morla.1
missing
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
stamp-h1
.libs
